@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    background: url(bg.jpg) no-repeat center fixed ;
    background-size: cover;
}
.container{
   width: 20%;
    color: white;
    position: absolute;
    top: 25%;
    left: 40%;
   
}
@media only screen and (max-width: 1020px) {
    .container {
        width: 56%;
        color: white;
        position: absolute;
        top: 25%;
        left: 32%;
  }
}
.container h1{
    font-family: 'Heebo', sans-serif;
    display: inline-block;
    font-size: 40px;
    border-bottom : 5px solid purple;
    margin-bottom: 15px;
    padding:13px 0 ;
}
.box{
    border-bottom: 2px solid purple;
    width: 100%;
    margin: 22px 0;
   
}
.box i{
    width: 25px;
    text-align: center;
}
.box input{
    font-family: 'Dosis', sans-serif;
    background: none;
    width: 75%;
    font-size: 20px;
    outline: none;
    border: none;
    color: white;
    
    padding: 5px 11px;
}
.btn{
    cursor: pointer;
    outline: none;
    margin: 12px 0;
    padding: 10px 21px;
    border-radius: 10px;
    border: 2px solid purple;
    font-size: 18px;
    background: none;
    color: white;
    font-weight: bold;
}
.btn:hover{
    opacity: 0.5;
    color: purple;
    background: white;
}
